schema/synonymResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="list"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="category"/>
        <xs:element ref="synonyms"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="category" type="xs:string"/>
  <xs:element name="synonyms" type="xs:string"/>
</xs:schema>
